if SHIELD_TORABO_TSUKI_LP_LEFT || SHIELD_TORABO_TSUKI_LP_RIGHT

config ZMK_KEYBOARD_NAME
    default "torabo-tsuki"

config ZMK_SPLIT
    default y

config SPI
    default y

config INPUT
    default y

config ZMK_MOUSE
    default y 

config ZMK_POINTING
    default y

config IQS7211E
    default y

# 仕様書に記載されているKconfig制御用パラメータ
config IQS7211E_SCROLLER_MODE
    default n

config IQS7211E_TAP_EDGE_MARGIN_PERMILLE
    default 80

config IQS7211E_SCROLLER_HWHEEL_ZONE_MIN_PERMILLE
    default 0

config IQS7211E_SCROLLER_HWHEEL_ZONE_MAX_PERMILLE
    default 150

config IQS7211E_SCROLLER_HWHEEL_ZONE_FROM_BOTTOM
    default n

config IQS7211E_SCROLLER_INERTIA
    default y

config IQS7211E_SCROLLER_INERTIA_DECAY_PERMILLE
    default 920

config IQS7211E_SCROLLER_INERTIA_STOP_THRESHOLD_Q8
    default 96

endif
